/* Адаптивы для всех страниц */
@media (max-width: 1024px) and (min-width: 768px) {
  .flickity-prev-next-button {
    width: 6vw;
    height: 6vw;
  }

  .button {
    padding: 2vw 2vw;
    font-size: 2vw;
    border-radius: 1vw;
  }

  .icon-button {
    width: 2vw;
    height: 2vw;
    padding: 2vw;
    background-size: 4vw;
    border-radius: 1vw;
  }

  #small_6 {
    width: 117vw;
    top: 15vh;
    left: -28vw;
  }

  #small_4 {
    width: 85vw;
    top: -11vh;
    left: -14vw;
  }

  #small_2 {
    width: 160vw;
    top: -11vh;
    left: 15vw;
  }

  #small_3 {
    width: 160vw;
    top: 71vh;
    left: -8vw;
  }

  #small_5 {
    width: 95vw;
    top: -5vh;
    left: 28vw;
  }

  #small_1 {
    width: 50vw;
    top: 2vh;
    left: 38vw;
  }

  .menu_hi {
    width: 30vw;
    height: auto;
    padding: 3vw 1vw;
    gap: 1vw;
    border-radius: 2vw;
  }
}

@media (max-width: 375px) {
  .flickity-prev-next-button {
    width: 10vw;
    height: 10vw;
  }

  .custom-dots .dot {
    width: 1vw;
    height: 1vw;
  }

  .nachinka_cite_all {
    gap: 7vw;
  }

  .button {
    padding: 3vw 3vw;
    font-size: 6vw;
    border-radius: 2vw;
  }

  .icon-button {
    padding: 5.7vw;
    background-size: 8vw;
    border-radius: 2vw;
  }

  #small_6 {
    width: 150vw;
    top: 15vh;
    left: -48vw;
  }

  #small_4 {
    width: 101vw;
    top: -11vh;
    left: -14vw;
  }

  #small_2 {
    width: 190vw;
    top: -11vh;
    left: 15vw;
  }

  #small_3 {
    width: 200vw;
    top: 71vh;
    left: -8vw;
  }

  #small_5 {
    width: 173vw;
    top: -5vh;
    left: 28vw;
  }

  #small_1 {
    width: 80vw;
    top: 74vh;
    left: 2vw;
  }

  .menu_hi {
    width: 65vw;
    height: 15vw;
    padding: 3vw 1vw;
    gap: 3vw;
    border-radius: 4vw;
  }
}

/* Адаптивы для posters.html */
@media (max-width: 375px) {
  .posters_1_line {
    flex-direction: column;
  }

  .nachinka_posters_3 img {
    max-width: 90%;
  }

  .opisanie_proekta {
    width: 80vw;
    margin-top: 48vw !important;
  }

  .nachinka_posters {
    margin-top: -15vw;
  }

  .overlay-content img {
    width: 42vw;
  }
}

/* Адаптивы для author.html */
@media (max-width: 1024px) and (min-width: 768px) {
  .photo_text {
    height: 20vw;
    width: 70vw;
  }

  .description {
    font-size: 4vw;
    line-height: 140%;
  }

  .media-container img,
  .media-container video {
    height: 10vw;
  }

  .naming {
    font-size: 2.2vw;
  }

  .econt {
    font-size: 3vw;
  }

  .inst, .tg {
    width: 3vw;
    height: 3vw;
  }

  .about_me {
    width: 80vw;
    gap: 2vw;
  }

  .contacts_all {
    gap: 40vw;
  }
}

@media (max-width: 375px) {
  .photo_text {
    height: 20vw;
    width: 70vw;
  }

  .description {
    font-size: 7.5vw;
    line-height: 120%;
  }

  .media-container img,
  .media-container video {
    height: 17vw;
  }

  .naming {
    font-size: 4.5vw;
  }

  .econt {
    font-size: 6vw;
  }

  .inst, .tg {
    width: 6vw;
    height: 6vw;
  }

  .about_me {
    width: 80vw;
    gap: 2vw;
    margin-top: 8vw;
  }

  .contacts_all {
    gap: 4vw;
    flex-direction: column;
  }
  
  .contacts_2 {
    gap: 1vw;
  }
  
  .media-wrapper {
    bottom: 0vw;
    padding: 0.8vw 0;
  }

  .scroller {
    gap: 0.5vw;
  }
}

/* Адаптивы для works.html */
@media (max-width: 1024px) and (min-width: 768px) {
  .my_works {
    flex-direction: column;
    height: auto;
    scroll-snap-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
  }

  .panel {
    width: 100vw !important;
    height: auto;
    aspect-ratio: 1/1;
  }

  .button_1 {
    position: relative;
    display: block;
    width: 90vw;
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    white-space: normal;
    line-height: 1.4;
    max-width: 100%;
    margin: 44rem auto;
  }
  
  .panel_video {
    position: relative;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 375px) {
  .my_works {
    flex-direction: column;
    height: auto;
    scroll-snap-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
  }

  .panel {
    width: 100vw !important;
    height: auto;
    aspect-ratio: 1/1;
  }

  .button_1 {
    position: relative;
    display: block;
    width: 90vw;
    text-align: center;
    padding: 0.6rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    white-space: normal;
    line-height: 1.4;
    max-width: 100%;
    margin: 20rem auto;
  }
  
  .panel_video {
    position: relative;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .panel:hover .panel_video {
    opacity: 0 !important;
  }
}

/* Адаптивы для zine.html */
@media (max-width: 375px) {
  .main-slider img {
    width: 80vw;
  }
  
  .main-slider {
    height: auto;
  }
  
  .thumbnail-slider img {
    height: 8vw;
  }
}

@media (min-width: 1025px) {
  .thumbnail-slider img {
    height: 90px; 
  }
}