body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffffff;
    height: 100vh; /* чтобы был скролл */
  }
  

.main_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  z-index: 1000;
  font-family: "Regular";
  
}

.three_words_meny {
  display: flex;
  gap: 6vw;
}

.three_words_meny,
.hi_to_hi {
  background: rgba(53, 52, 52, 0.60);
       backdrop-filter: blur(100vw);
         border: 1px solid rgba(190, 190, 190, 0.3);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.main_menu button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
   background-size: 2.3vw;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
    

  
}

.hi_to_hi {
padding: 0.8rem 0.8rem;
      background-size: 2.3vw;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
      width: 2vw;
      height: 2vw;

}

.main_hi {
  width: 100%;  /* или конкретный размер, например 5vw */
  height: 100%; /* или конкретный размер, например 5vw */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0; /* если padding мешает */
  border: none;
  box-sizing: border-box;
}

.opisanie_proekta{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  position: relative;
 margin-top: 20vw;
  left: 50%;
  transform: translate(-50%, -50%);
   font-family: "Regular", sans-serif;
  gap: 1.5vw;
}


.basic_text_1 {
  font-family: "SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  color: #ffffff;
  line-height: 130%;
  letter-spacing: 0.05vw;
  text-align: left;
}

.mini_podpisi {
  display: flex;
  justify-content: space-between; 
  width: 100%;        
}

.mini_podpisi_nachinka {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.3vw;
  color: #ffffff;
}

.curator {
  font-size: 0.9vw;
  font-weight: 400;
  color: #ffffff;
}

.name_of_curator {
  font-size: 1.5vw;
  font-weight: 400;
}

.nachinka_book {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 30%;
  position: relative;
  gap: 5vw;
}


.loliki {
  font-size: 1.5vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.457);
}


.opisanie_proekta_2{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
   font-family: "Regular", sans-serif;
  gap: 1.5vw;
}

 @media (max-width: 1024px) and (min-width: 768px) {
  

  .main_menu {
    position: fixed !important;   /* важно, чтобы перекрыть другие стили */
    left: 50% !important;
    top: 4% !important;
    transform: translate(-50%, -50%) !important;
    width: auto !important;
    padding: 1rem 0 !important;
    display: flex !important;
    justify-content: center !important;
    gap: 1rem !important;
    box-sizing: border-box; /* чтобы padding не вызывал выход за ширину */
  }

  .three_words_meny {
    gap: 10vw; /* уменьшил расстояние между кнопками чтобы не вылазить */
    flex-wrap: nowrap; /* не переносить кнопки */
  }

  .main_menu button {
    font-size: 0.9rem; /* чуть меньше шрифт */
    padding: 0.4rem 0.8rem;
    background-size: 4vw;
  }

  .hi_to_hi {
    width: 3.5vw;
    height: 3.5vw;
    padding: 0.6rem;
    background-size: 3.5vw;
  }

    .basic_text_1 {
  font-size: 3vw;
}

.opisanie_proekta {
    width: 70vw;
    margin-top: 26vw;
}

.curator {
  font-size: 1.5vw;

}


.name_of_curator {
  font-size: 2vw;
}

.loliki {
  font-size: 2vw;
}
  }






 @media (max-width: 375px) {
  

  .main_menu {
    position: fixed !important;   /* важно, чтобы перекрыть другие стили */
    left: 50% !important;
    top: 4% !important;
    transform: translate(-50%, -50%) !important;
    width: auto !important;
    padding: 1rem 0 !important;
    display: flex !important;
    justify-content: center !important;
    gap: 0.2rem !important;
    box-sizing: border-box; /* чтобы padding не вызывал выход за ширину */
  }

  .three_words_meny {
    gap: 5vw; /* уменьшил расстояние между кнопками чтобы не вылазить */
    flex-wrap: nowrap; /* не переносить кнопки */
  }

  .main_menu button {
    font-size: 0.9rem; /* чуть меньше шрифт */
    padding: 0.4rem 0.8rem;
    background-size: 7vw;
  }

  .hi_to_hi {
    width: 6.5vw;
    height: 6.5vw;
    padding: 0.6rem;
    background-size: 3.5vw;
  }

      .basic_text_1 {
  font-size: 5vw;
}

.opisanie_proekta {
    width: 80vw;
    margin-top: 46vw;
}

.curator {
  font-size: 2.5vw;

}


.name_of_curator {
  font-size: 3vw;
}

.loliki {
  font-size: 3vw;
}
}


